<div class="alert alert-warning" data-ng-show="!txs[0].txid && !loading" translate>There are no trades for this token yet.</div>
<div class="trades-stats-block text-right" data-ng-show="txs && txs[0].txid">
  <h4>Total volume: {{stats.volume}} {{tokenInfo.name}}</h4>
  <h4>Total trades: {{stats.count}}</h4>
</div>
<div class="block-tx" data-ng-show="txs && txs[0].txid" data-ng-repeat="tx in txs">
  <div data-ng-include src="'views/tokens/trade.html'"></div>
</div>
<div class="progress progress-striped active" data-ng-show="loading">
  <div class="progress-bar progress-bar-info" style="width: 100%">
    <span translate>Loading Trades...</span>
  </div>
</div>
